.row {
	transition: all 0.35s ease;
	background-color: #fff;
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
	border-left: 1px solid gray;
	width: 100%;
	display: grid;
	grid-template-columns: 2fr 3fr 3fr 3fr;
	background-color: #f2f2f2;
}

.row > div {
  height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.row:first-child {
  border-top: 2px solid rgba(128, 128, 128, .3);
}

.row:hover {
	background-color: #a6a6a6;
}

.remove:hover {
	cursor: pointer;
}

.checkboxWrapper {
	border-right: 2px solid rgba(128, 128, 128, .3)
}

.checked {
	background-color: #c9c9c9;
}

.checkbox:hover {
	cursor: pointer;
}

.editableInput {
	padding: 5px 7px;
	border: none;
	background: transparent;
	border: 1px solid transparent;
	transition: all 0.35s ease;
}

.editableInput:focus {
	border: 1px solid orange;
	border-radius: 10px;
}
