.row {
	padding: 20px 20px;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	background-color: #5C6871;
	color: white;
}

.row > div {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.row > div:nth-child(1) {
	font-weight: bold;
	color: #92e2d7;
}

.selectCompanies {
	cursor: pointer;
}

.deleteSelected {
	font-weight: bold;
	color: #f395a3;
	user-select: none;
	vertical-align: center;
	transition: all 0.35s;
}

.deleteSelected > span {
	font-size: 22px;
}

.deleteSelected:hover {
	cursor: pointer;
	transform: translateY(-3px);
}


